.numeromazzo{
	-fx-font: 100px Tahoma; 
	-fx-fill: red; 
	-fx-stroke: white; 
	-fx-stroke-width: 2;
}

.punteggiog1{
	-fx-font: 30px Tahoma;
	-fx-fill: #ffcc00;
}

.punteggiog2{
	-fx-font: 30px Tahoma;
	-fx-fill: #ff751a;
	
}

.turno {
	-fx-font: 30px Tahoma;
	-fx-fill: #1a1aff ;
}
.nomeG1{
	-fx-font: 30px Tahoma;
	-fx-fill: #ffcc00;
}

.nomeG2{
	-fx-font: 30px Tahoma;
	-fx-fill: #ff751a;
}


